* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
}

.shop {
  flex: 1 0 50%;
  background-color: lightblue;
  padding: 0;
}

.cart {
  flex: 1 0 50%;
  background-color: white;
}

.products {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}

.product {
  width: 6rem;
  height: 8rem;
  margin: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #888888;
}

.product img {
  width: 100%;
  height: auto;
}

.product-name {
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  margin: 0 1rem;
}